<Jumbo>
  <h2>Welcome to Super Rentals!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
  <LinkTo @route="about" class="button">About Us</LinkTo>
</Jumbo>

<RentalsSearch @rentals={{this.model}} as |results|>
  <ul class="results">
    {{#each results as |rental|}}
      <li><Rental @rental={{rental}} /></li>
    {{/each}}
  </ul>
</RentalsSearch>
